@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #e1ecf2;
}

.wrapper .top_navbar {
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 0px;
  right: 10px !important;
}

.wrapper .top_navbar .hamburger {
  width: 70px;
  height: 100%;
  background: #2e4ead;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .hamburger div {
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .top_navbar .top_menu .logo {
  color: #2e4ead;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

/* Start Search */
.search {
  display: flex;
  border: 1px solid #ccc;
  width: 50%;
  height: 45px;
  background: #fff;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  padding: .3rem;
}

.search i {
  color: rgba(0, 0, 0, .5);
  margin: 0 .6rem;
}

.search input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-weight: 400;
}

.search button {
  height: 100%;
  padding: 0 1rem;
  border-radius: inherit;
  background: #2e4ead;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.search button:hover {
  background: #2648ae;
}

/* End Search */
/* Start drop down */
.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 150px;
  border-radius: 50px;
  color: #393e46;
  /* background-color: white;
box-shadow: var(--shadow); */

  cursor: pointer;
  border: 1px solid #2648ae;
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: rgb(127, 183, 126, 0.1);
  box-shadow: 0px 2px 8px 0px rgba(40, 60, 147, 0.2);
}

.profile-img {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url(../../../images/profile-pic.jpg);
  background-size: cover;
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: #82cd47;
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 220px;
  right: 0;
  background-color: #fff;
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px rgb(34, 124, 112, 0.2);
  transition: max-height 0.5s;
}

.profile-dropdown-list hr {
  border: 0.5px solid #2648ae;
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #2648ae;
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: #2648ae;
  color: #fff;
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: rgba(40, 60, 147, 0.2);
}

/* End drop down */



.wrapper .sidebar {
  position: fixed;
  top: 70px;
  left: 10px;
  background: #2e4ead;
  width: 200px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  position: relative;
  margin-bottom: 1px;
  color: #92a6e2;
  white-space: nowrap;
}

.wrapper .sidebar ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #92a6e2;
  display: none;
}

.wrapper .sidebar ul li a span.icon {
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title {
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  background: #4360b5;
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

.wrapper .main_container {
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item {
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper.collapse .sidebar {
  width: 70px;
}

.wrapper.collapse .sidebar ul li a {
  text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title {
  display: none;
}

.wrapper.collapse .main_container {
  width: (100% - 70px);
  margin-left: 70px;
}

.wrapper .main_container h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.wrapper .main_container .avatar {
  display: flex;
  justify-content: start;
}


.wrapper .main_container .avatar-image  {
  height: 7rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.avatar-desc {
  font-size: 0.7rem;
  color: #6d6d6f;
  margin-top: 0.5rem;

}


.profile-info label {
  display: inline-block;
  width: 15%;
}

.profile-info .profile-input input {
  width: 84%;
  height: 2rem;
  border-radius: 10px;
  border: 0.5px solid #ccc;
  padding-left: 0.5rem;
  font-size: 0.9rem;
  color: #6d6d6f;
}

.profile-input {
  margin-bottom: 0.5rem;
}

.profile-submit {
  display: flex;
  justify-content: end;

}

.profile-btn {
  border-radius: 10px;
  border: none;

}

.profile-btn-submit {
  background: #2e4ead;
  color: #fff;
  margin-top: 1rem;
  height: 2.5rem;
  font-size: 1rem;
  width: 7rem;
}
