@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #e1ecf2;
}

.wrapper .top_navbar {
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 0px;
  right: 10px !important;
}

.wrapper .top_navbar .hamburger {
  width: 70px;
  height: 100%;
  background: #2e4ead;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .hamburger div {
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .top_navbar .top_menu .logo {
  color: #2e4ead;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

/* Start Search */
.search {
  display: flex;
  border: 1px solid #ccc;
  width: 50%;
  height: 45px;
  background: #fff;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  padding: .3rem;
}

.search i {
  color: rgba(0, 0, 0, .5);
  margin: 0 .6rem;
}

.search input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-weight: 400;
}

.search button {
  height: 100%;
  padding: 0 1rem;
  border-radius: inherit;
  background: #2e4ead;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.search button:hover {
  background: #fff;
  color: #2648ae;
  border: 1px solid #2648ae;
}

/* End Search */
.item-drop-down {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Notification bell styling */
.notification #bell {
  position: relative;
  display: inline-block;
}

.notification #bell i {
  font-size: 1.2rem;
  cursor: pointer;
}

/* Dropdown menu styling */
.notification .content-notification {
  display: none;
  /*Hidden by default */
  padding: 10px 0;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  /* Align to the right of the bell */
  border-radius: 1rem;
  top: 4rem;

}

.notification .content-notification ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification .content-notification li {
  padding: 8px;

}

.notification .content-notification li a {
  color: #2648ae;
}

.notification .content-notification li:hover {
  background-color: #f1f1f1;
}


/* Start drop down */
.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 150px;
  border-radius: 50px;
  color: #393e46;
  /* background-color: white;
box-shadow: var(--shadow); */

  cursor: pointer;
  border: 1px solid #2648ae;
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: rgb(127, 183, 126, 0.1);
  box-shadow: 0px 2px 8px 0px rgba(40, 60, 147, 0.2);
}

.profile-img {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url(../../../images/profile-pic.jpg);
  background-size: cover;
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: #82cd47;
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 220px;
  right: 0;
  background-color: #fff;
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px rgb(34, 124, 112, 0.2);
}

.profile-dropdown-list hr {
  border: 0.5px solid #2648ae;
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #2648ae;
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: #2648ae;
  color: #fff;
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: rgba(40, 60, 147, 0.2);
}

/* End drop down */



.wrapper .sidebar {
  position: fixed;
  top: 70px;
  left: 10px;
  background: #2e4ead;
  width: 210px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  position: relative;
  margin-bottom: 1px;
  color: #92a6e2;
  white-space: nowrap;
}

.wrapper .sidebar ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #92a6e2;
  display: none;
}

.wrapper .sidebar ul li a span.icon {
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title {
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  background: #4360b5;
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

.wrapper .main_container {
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item {
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper.collapse .sidebar {
  width: 70px;
}

.wrapper.collapse .sidebar ul li a {
  text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title {
  display: none;
}

.wrapper.collapse .main_container {
  width: (100% - 70px);
  margin-left: 70px;
}

/* CONTENT */
#content {
  width: 100%;
  transition: .3s ease;
}

#sidebar.hide~#content {
  width: calc(100% - 60px);
  left: 60px;
}

/* NAVBAR */
#content nav {
  height: 56px;
  background: #F9F9F9;
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: 'Lato', sans-serif;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#content nav::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 #F9F9F9;
}

#content nav a {
  color: #342E37;
}

#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}



/* MAIN */
#content {
  margin-top: 1rem;
}

#content main {
  width: 100%;
  padding: 10px 24px;
  font-family: 'Poppins', sans-serif;
  max-height: calc(100vh - 56px);
}

#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #342E37;
}

#content main .head-title .left div {
  width: 75vw;
  display: flex;
  justify-content: space-between;
}

#content main .head-title .left a {
  cursor: pointer;
}

#content main .head-title .left div #feedback-btn {
  width: 11rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  color: #fff;
  background-color: #2648ae;
  cursor: pointer;
}

#content main .head-title .left div #feedback-btn:hover {
  color: #2648ae;
  background-color: #fff;
  border: 1px solid #2648ae;
}

/* Start form feedback teacher */
#feedback .content {
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}

#feedback .content h2 {
  margin-bottom: 1rem;
}

#feedback .content .form-group {
  margin: 1rem auto;
}

#feedback .content .form-group > label{
  font-weight: bold;
}

#feedback .content .form-group .rating-group {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

#feedback .content textarea {
  width: 100%;
  height: 7rem;
}

#feedback .content button{
  width: 8rem;
  height: 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  color: #fff;
  background-color: #2648ae;
  cursor: pointer;
}

#feedback .content button:hover{
  color: #2648ae;
  background-color: #fff;
  border: 1px solid #2648ae;
}

/* End form feedback teacher */


/* MAIN */
/* CONTENT */

/* Start: MODAL */
/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 810px;
  border-radius: 10px;
  position: relative;
}

.modal-contet h2 {
  margin-bottom: 1rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Start notification modal */
#notificationModal .modal-content{
  margin-left: 230px;
}
/* End notification modal */

/* End: MODAL */

/* Start toast teacher feedback */
.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #4caf50; /* Màu xanh lá */
  color: #ffffff; /* Màu chữ trắng */
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 20px; /* Điều chỉnh vị trí toast ở phía bên phải */
  top: 20px; /* Điều chỉnh vị trí toast ở phía trên */
  font-size: 17px;
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.toast i {
  margin-right: 0.5rem;
}

@-webkit-keyframes fadein {
  from { top: 0; opacity: 0; }
  to { top: 20px; opacity: 1; }
}

@keyframes fadein {
  from { top: 0; opacity: 0; }
  to { top: 20px; opacity: 1; }
}

@-webkit-keyframes fadeout {
  from { top: 20px; opacity: 1; }
  to { top: 0; opacity: 0; }
}

@keyframes fadeout {
  from { top: 20px; opacity: 1; }
  to { top: 0; opacity: 0; }
}

.success {
  background-color: #4caf50; /* Màu xanh lá */
  color: #ffffff; /* Màu chữ trắng */
}

/* End modal teacher feedback */